html{
    height: 100%;
    width: 77%;
}

body {
  background-color: rgba(121, 160, 169, 0.33);;
  background-size: 100rem;
  background-repeat: no-repeat;
  //background-image: url("../images/bboy.jpg");//
  }

.title{
  text-align: center;
  font-family: 'Homemade Apple', cursive;
  background-color: rgba(175, 72, 72, 0.13);
}

.header{
  font-family: 'Homemade Apple', cursive;
  margin-bottom:15px;
}

ul{
  text-align:right;
  //border-bottom:double;//
  margin: 15px 0 0 0;

}

nav li{
  display: inline;
  margin-right: 25px;
  padding: 15px;
}

a{
  text-decoration: none;
  color: rgba(11, 69, 179, 0.5);
}
a:hover{
  color:rgba(152, 46, 46, 0.82);
}

h1{
  border-top:double;
  margin: 0 0 0 0;
  padding-top:10px;
}

h4{
  border-bottom:double;
  margin: 10px 0 0 0;
  padding-bottom: 10px;
}

h5{
  margin: 0 0 0 0;
  text-align: center;
  color:rgba(152, 46, 46, 0.82);
}


em {
  color: rgba(11, 69, 179, 0.5);
}


.words{
  text-align: left;
  margin: 20px 0 20px 0;
  color:rgba(27, 50, 64, 0.68);
  font-family: 'Raleway', sans-serif;
}

img{
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
    border-radius: 140px 140px;
  }

.footer{
  right: 0;
  bottom: 0;
  left: 0;
  color: rgba(11, 69, 179, 0.5);
  border-top:double;
  border-bottom:double;
  text-align: center;
  font-family:'Raleway', sans-serif;
  font-size: small;
  background-color: rgba(175, 72, 72, 0.13);
  margin: 0 0 0 0;
  }

  #footerwords{
    color:rgba(56, 21, 239, 0.64);
  }
